<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= data.name %> Booking List</title>
</head>
<body>
  <%- include('partials/navbar') %> 
  <h1><%= data.name %> Booking List</h1>

  <table border="1">
    <tr>
      <th>No</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Date Time</th>
    </tr>

    <tr>
      <% data.Users.forEach((user,i) => { %>
       <tr>
         <td><%= i+1 %> </td>
         <td><%= user.first_name %> </td>
         <td><%= user.last_name %> </td>
         <td><%= user.Booking.bookingDate %> </td>
       </tr>
      <% }) %>
    </tr>
  </table>
</body>
</html>